# .coveragerc to control coverage.py
# https://coverage.readthedocs.io/en/latest/config.html
[run]
branch = True
omit =
    cleanlab/experimental/cifar_cnn.py
    cleanlab/experimental/coteaching.py
    cleanlab/experimental/label_issues_batched.py
    cleanlab/experimental/mnist_pytorch.py
    cleanlab/experimental/span_classification.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion / error-reporting code:
    raise
    except
    assert
    warnings.warn
    error_message
    
    # Use print(f"...") for printing out non-pure strings:
    print\(\"
    
    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    
    # Can't unit test big datasets:
    if big_dataset

ignore_errors = True

[html]
directory = coverage_html_report
