# Python dependencies for development
coverage != 6.3, != 6.3.*
mypy
pandas-stubs
pre-commit
psutil
pytest
pytest-cov
pytest-lazy-fixture
requests
scipy
skorch
tensorflow
torch
torchvision
typing-extensions>=4.1.1
wget
