details {
    margin-bottom: 0.75rem;
    margin-top: 0.5rem;
}

details summary {
    cursor: pointer;
}

details summary > * {
    display: inline;
}

details[open] summary {
    padding-bottom: 0.75rem;
    border-bottom: 2px dashed #ccc;
}

details[open] {
    border-bottom: 2px dashed #ccc;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .75em;
}