details {
    margin-bottom: 0.75rem;
    margin-top: 0.5rem;
}

details summary {
    cursor: pointer;
}

details summary > * {
    display: inline;
}

details[open] summary {
    padding-bottom: 0.75rem;
    border-bottom: 2px dashed #ccc;
}

details[open] {
    border-bottom: 2px dashed #ccc;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .75em;
}

.datalab-alert {
    padding: 10px 10px 10px 30px;
    background-color: #fdf0dd; /* Change this color for a different background */
    color: #000; /* Change this color for a different text color */
    border-radius: 5px;
    border: 2px solid #67c0c9;
    margin: 40px;
}
.datalab-alert h4 {
    font-size: 20px;
    font-weight: bold;
}