jinja2==3.0.3
sphinx==5.1.1
sphinx-tabs==3.4.1
nbsphinx==0.8.8
autodocsumm==0.2.9
furo==2022.06.21
ipython==8.0.1
ipykernel==6.8.0
ipywidgets==7.6.5
sphinx-multiversion==0.2.4
sphinx-copybutton==0.5.0
sphinxcontrib-katex==0.8.6
sphinxcontrib-gtagjs==0.2.1
sphinx-autodoc-typehints==1.19.2
sphinxext-opengraph==0.9.0
matplotlib==3.6.3
requests==2.28.2
tensorflow==2.12.1
tensorflow-io==0.32.0
sentence-transformers==2.2.2
speechbrain==0.5.13
huggingface_hub>=0.17.0
torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2
timm==0.9.12
datasets>=2.14.6
