numpy==1.22.1
scikit_learn==1.0.2
scipy==1.7.3
torchvision==0.11.2
cleanlab==1.0.0
sphinx==4.4.0
nbsphinx==0.8.8
autodocsumm==0.2.7
sphinx-tabs==3.2.0
furo==2022.1.2
ipython==8.0.1
ipykernel==6.8.0
pandas==1.4.0
tqdm==4.62.3
ipywidgets==7.6.5
